.customNav{
  background-color: rgba(0, 0, 0, 0.07);
}
.customAnchor:hover{
  color: blue;
}
.customSpan{
  color: black;
}
.customBtn{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 0px;
  width: 8em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.customBtn:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0,0,0,0.19);
}
